{
    "extends": [
        "wesbos"
    ],
    "rules": {
        "no-use-before-define": 0,
        // "no-use-before-define": [
        //     "error",
        //     {
        //         "functions": false
        //     }
        // ],
        "react-hooks/exhaustive-deps": "off"
    }
}